<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>    
    <% for (let i = 0; i < posts.length; ++i) { %>
        <div>
            <h1><%= posts[i].sentence %></h1>
            <p><%= posts[i].emotion %></p>
        </div>
    <% } %>

</body>
</html>